var frm = "";
frm +=	'<form >'
frm +=	'<div class="form-group square-border">'
frm +=	'<label for="name">Asset Name:</label>'
frm +=	'<input name="name" class="form-control square-border"  required placeholder="Type Asset Name">'
frm +=	'</div>'
frm +=	'<div class="form-group">'
frm +=	'<label for="sector">Asset Type:</label>'
frm +=	'<select name="type" class="form-control square-border">'
frm +=	'<option>Transformer</option>'
frm +=	'<option>EHV lines &amp; Tower</option>'
frm +=	'<option>Distribution underground lines</option>'
frm +=	'<option>Electric grid Operation</option>'
frm +=	'<option>Antennae</option>'
frm +=	'<option>Base Station Building</option>'
frm +=	'<option>Step Up/down SubStation</option>'
frm +=	'<option>Cable landing Station</option>'
frm +=	'<option>Fossil Fuel Plant</option>'
frm +=	'<option>Wired Copper Cable</option>'
frm +=	'</select>'
frm +=	'</div>'
frm +=	'<div class="form-group square-border">'
frm +=	'<label for="sector">Select Sector:</label>'
frm +=	'<select name="sector" class="form-control square-border">'
frm +=	'<option>Energy</option>'
frm +=	'<option>ICT</option>'
frm +=	'</select>'
frm +=	'</div>'
frm +=	'<div class="form-group square-border">'
frm +=	'<label for="sector">Select Sub Sector:</label>'
frm +=	'<select name="subSector" class="form-control square-border">'
frm +=	'<option>Electricity</option>'
frm +=	'<option>Telecomm</option>'
frm +=	'</select>'
frm +=	'</div>'
frm +=	'</form>'
		