	<a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
			 
	<div class="panel-group square-border" id="accordion">
	   	<div class="card square-border">
	    	<div class="card-header" >
	        	<h4 class="panel-title">
	          		<a class="card-link" data-toggle="collapse" data-parent="#accordion" href="#collapseOne">Asset</a>
	        	</h4>
	      	</div>

	  		<div id="collapseOne" class="collapse show">
	    		<div class="card-body">
	  <!-- Asset creation form begins here -->
				 	<form method='post' id="createAsset-form" action="/postpage">
				 		<div class="form-group square-border">
					  		<label for="name">Asset Name:</label>
					  		<input name="name" class="form-control square-border" id="name" required placeholder="Type Asset Name">
					    </div>
					 	<div class="form-group">
					  		<label for="sector">Asset Type:</label>
					  		<select name="type" class="form-control square-border" id="type">
					    		<option>Transformer</option>
					    		<option>EHV lines &amp; Tower</option>
					     		<option>Distribution underground lines</option>
					    		<option>Electric grid Operation</option>
					         	<option>Antennae</option>
					    		<option>Base Station Building</option>
					       		<option>Step Up/down SubStation</option>
					       		<option>Cable landing Station</option>
					       		<option>Fossil Fuel Plant</option>
					       		<option>Wired Copper Cable</option>
					   		</select>
						</div>        
					      	        
					 	<div class="form-group square-border">
					  		<label for="sector">Select Sector:</label>
					  		<select name="sector" class="form-control square-border" id="sector">
					    		<option>Energy</option>
					    		<option>ICT</option>
					  		</select>
						</div>

					 	<div class="form-group square-border">
					  		<label for="sector">Select Sub Sector:</label>
					  		<select name="subSector" class="form-control square-border" id="subSector">
					    		<option>Electricity</option>
					    		<option>Telecomm</option>
					  		</select>
						</div>

						<div>
							<button type="submit" id="createAsset-btn" onclick="assetCreator()" class="btn square-border">Create Asset</button>
						</div>
					</form>
				</div>
	    	</div>
	<!-- Asset Creation form ends here
	 -->
	      
	    	<div class="panel panel-default square-border">
	      		<div class="panel-heading square-border">
	        		<h4 class="panel-title square-border">
	          			<a data-toggle="collapse" data-parent="#accordion" href="#collapse2">Scenario</a>
	        		</h4>
	      		</div>
	      		<div id="collapse2" class="panel-collapse collapse square-border">
	        		<div class="panel-body square-border">
	        
	       			</div>
	      		</div>
	    	</div>
	    	<div class="panel panel-default square-border">
	      		<div class="panel-heading square-border">
	        		<h4 class="panel-title">
	          			<a data-toggle="collapse" data-parent="#accordion" href="#collapse3">Visualization</a>
	       			</h4>
	      		</div>
	      		<div id="collapse3" class="panel-collapse collapse square-border">
	        		<div class="panel-body square-border">.
	            	</div>
	      		</div>
	    	</div>
	  	</div> 
	</div>

<!----- template for loading received value from database ---------->

	<div id="getAssetPanel" class="panel panel-primary square-border">
     <!--  =============== the new boostsrap 4 form was inserted here ===========-->

     <div id="accordion">
    <div class="card">
      <div class="card-header">
        <a class="card-link" data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
          Asset Details
        </a>
      </div>
      <div id="collapseOne" class="collapse show">
        <div class="card-body">
<!--============== asset panel form for laoding asset details begins here ======================= -->
  <form id="assetPanelForm">
			<div class="checkbox">
			  	<label><input type="checkbox" value="">Edit Asset</label>
			</div>
			<div class="form-group square-border">
				<label for="name">Asset Name:</label>
				<input name="name" class="form-control square-border"  required placeholder="Type Asset Name">
			</div>
			<div class="form-group">
			<label for="sector">Asset Type:</label>
				<select name="type" class="form-control square-border">
					<option>Transformer</option>
					<option>EHV lines &amp; Tower</option>
					<option>Distribution underground lines</option>
					<option>Electric grid Operation</option>
					<option>Antennae</option>
					<option>Base Station Building</option>
					<option>Step Up/down SubStation</option>
					<option>Cable landing Station</option>
					<option>Fossil Fuel Plant</option>
					<option>Wired Copper Cable</option>
				</select>
			</div>
			<div class="form-group square-border">
				<label for="sector">Sector:</label>
				<select name="sector" class="form-control square-border">
					<option>Energy</option>
					<option>ICT</option>
				</select>
			</div>
			<div class="form-group square-border">
				<label for="sector">Sub Sector:</label>
				<select name="subSector" class="form-control square-border">
					<option>Electricity</option>
					<option>Telecomm</option>
				</select>
			</div>
			</form>
<!--============== asset panel form ends here ===================================== -->
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-header">
        <a class="collapsed card-link" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
        Add dependencies:
      </a>
      </div>
      <div id="collapseTwo" class="collapse">
        <div class="card-body">
         <div class="form-group">
		  <label for="sel1">Select Dependents:</label>
		  <select multiple class="form-control" id="multiple-select">
		    <option>Antennae</option>
		    <option>Transformer</option>
		    <option>Underground Cable</option>
		    <option>Extra High Voltage Transmission Line</option>
		  </select>
		</div>
		<ul id="selected-list">	</ul>

        </div>
        <input type="button" name="create-dependents" value="Create Dependents">
      </div>
    </div>
    <div class="card">
      <div class="card-header">
        <a class="collapsed card-link" data-toggle="collapse" data-parent="#accordion" href="#collapseThree">
         Add inputs:
        </a>
      </div>
      <div id="collapseThree" class="collapse">
        <div class="card-body">
         // 3: put stuffs in here 
        </div>
      </div>
    </div>
  </div>
		
     <!--  =============== New boostsrap 4 form ends here ===========-->



    </div>
