
			 
<div id="first-accordion">
	<a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
	   	<div class="card square-border">
	   		<!-- create asset begins here -->
	    	<div class="card-header panel-header-color square-border" >
	        	<h4 class="panel-title">
	          		<a class="card-link" 
	          		data-toggle="collapse" aria-expanded="true" href="#collapse1">Create asset</a>
	        	</h4>
	      	</div>
	      	<!-- body of create asset accordion begins here -->
	  		<div id="collapse1" class="collapse" data-parent="#first-accordion">
	    		<div class="card-body">
	  			<!-- Asset creation form begins here -->
				 	<form method='post' id="createAsset-form" action="/postpage">
				 		<div class="form-group square-border">
					  		<label for="name">Asset Name:</label>
					  		<input name="name" class="form-control square-border" id="name" required placeholder="Type asset name">
					    </div>
					 	<div class="form-group">
					  		<label for="sector">Asset Type:</label>
					  		<select name="type" class="form-control square-border" id="type">
					    		<option>Transformer</option>
					    		<option>EHV lines &amp; Tower</option>
					     		<option>Distr. underground lines</option>
					    		<option>Electric grid Operation</option>
					         	<option>Antennae</option>
					    		<option>Base Station Building</option>
					       		<option>Step Up/down SubStation</option>
					       		<option>Cable landing Station</option>
					       		<option>Fossil Fuel Plant</option>
					       		<option>Wired Copper Cable</option>
					   		</select>
						</div>        
					      	        
					 	<div class="form-group square-border">
					  		<label for="sector">Select Sector:</label>
					  		<select name="sector" class="form-control square-border" id="sector">
					    		<option>Energy</option>
					    		<option>ICT</option>
					  		</select>
						</div>

					 	<div class="form-group square-border">
					  		<label for="sector">Select Sub Sector:</label>
					  		<select name="subSector" class="form-control square-border" id="subSector">
					    		<option>Electricity</option>
					    		<option>Telecomm</option>
					  		</select>
						</div>

						<div>
							<button type="submit" id="createAsset-btn"  class="btn btn-secondary square-border">Create Asset</button>
						</div>
					</form>
				</div>
	    	</div><!-- end of body for create asset accordion-->

		</div>

</div>
<!-- ==========================Second accordion is inserted here======================== -->

