/*attach scroll bar to the create asset element */
#createAsset-form{
	overflow: hidden;
}

/*border added to tables "visualization panel"*/
.bottom-border tr{
	border-bottom: 2px solid #cdcdcd;
	opacity: 0.8;
}


/*Create project popup window properties*/
#projModalTitle{
	font-weight: normal;
	font-family: Futura, "News Gothic", Helvetica,Verdana;
}


/*project button on navbar style*/
.nav-item #navbardrop{
	font-size: 14px;
	padding-bottom: 21px;
	margin-right: 10px;
}

/*to remove caret symbol from navbar menu icon*/
.dropdown-toggle::after {
    display:none
}

div.dropdown-menu.square-border{
	top: 50px;
}



#createAsset-btn{
	border: 1px solid #3d3d3f;
}
#createAsset-btn button:hover{
	border: 1px solid #43aed8;
}

#first-accordion div.card-body{
	background-color: #dedee0;
}

/*backgroung color for the control panel*/
.control-panel-bg{
	background-color: #57576a;
}

div.card-header.panel-header-color{
	background-color:#414154;
}

.navbar-bg{
  background-color: #3B3B4C;
}


/* removing style from the dependent listed items*/
#selected-list li{
	list-style: none;
}


a.card-link{
	padding:0px;
	font-size: 18px;
}

nav a.navbar-brand{
	margin-bottom: 16px;
}

input#userInput{
	 border:0px;
	 text-align: left ! important;
	 height:30px;
 }
nav.navbar{
	padding: 10px 16px 2px 16px;
	height:50px;

}
			
#map{
	width:100%;
	min-height: 400px;

}
.square-border{
	border-radius: 0 !important;
}

    /* Set black background color, white text and some padding */
footer {
  background-color: #555;
  z-index: 1;
  color: white;
  padding: 15px;
}