
			
#map{
	width:100%;
	height: 400px;
}
.square-border{
	border-radius: 0 !important;
}

    /* Set black background color, white text and some padding */
footer {
  background-color: #555;
  color: white;
  padding: 15px;
}