		<footer class="container-fluid text-center">
		  <p>Copyright &copy; <script type="text/javascript">
document.write(new Date().getFullYear());
</script> Critical Infrastructure Simulation and Modeling Engine: V1

		  </p>
		</footer>