<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">cisim</a>
    </div>

    <form class="navbar-form navbar-left" action="">
      <div class="form-group">
        <input id = "userInput" type="text" name="userInput" class="form-control square-border" placeholder="Type Location">
      </div>
     
    </form>
  </div>
</nav>

<nav class="navbar navbar-expand-sm bg-dark navbar-dark fixed-top">
  <a class="navbar-brand" href="#">cisim</a>
  <ul class="navbar-nav">
    <li class="nav-item">
    <div class="form-group">
        <input type="text" name="userInput" class="form-control text-center square-border" id="userInput" placeholder="Type Location">
    </div>
    </li>
  </ul>
</nav>