<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">cisim</a>
    </div>

    <form class="navbar-form navbar-left" action="/action_page.php">
      <div class="form-group">
        <input id = "userInput" type="text" name="userInput" class="form-control square-border" placeholder="Type Location">
      </div>
     
    </form>
  </div>
</nav>
