<div class="modal fade square-border" id="startProjectModal">
    <div class="modal-dialog modal-sm square-border">
      <div class="modal-content square-border">
      
        <!-- Modal Header -->
        <div class="modal-header">
          <h4 id="projModalTitle" class="modal-title">Enter Project Name</h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
        
        <!-- Modal body -->
        <div class="modal-body">
            <form>
              <div class="form-group">
                <label for="projectName">Project Name:</label>
                <input type="text"  placeholder="Type project name" class="form-control square-border" id="projectName">
              </div>
              <div class="form-group">
                <input type="button" id="startProj-btn" class="btn btn-dark square-border" value="Create Project" data-dismiss="modal">
              </div>
           </form>
        </div>

        
        <!-- Modal footer -->
        <div class="modal-footer">
        </div>
        
      </div>
    </div>
  </div>

  <!-- model to load old project -->

   <!-- Modal to load recent project -->
  <div class="modal fade" id="recentProjectModal">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
      
        <!-- Modal Header -->
        <div class="modal-header">
          <h4 class="modal-title">Select recent Project</h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
        
        <!-- Modal body -->
        <div  class="modal-body">
          <table class="table">
            <thead>
                <tr>
                  <th >Name</th>
                  <th>id</th>
                  <th>Location</th>
                </tr>
            </thead>
          </table>
          <div id="recent-project-panel" class="form-group">
            <table class="table table-hover">
              <tbody  id="recentProjectTable">

              </tbody>
            </table>
          </div>
        </div>
        
        <!-- Modal footer -->
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" id="recentProject-btn" data-dismiss="modal">Load Project</button>
        </div>
        
      </div>
    </div>
  </div>