<div class="modal fade square-border" id="startProjectModal">
    <div class="modal-dialog modal-sm square-border">
      <div class="modal-content square-border">
      
        <!-- Modal Header -->
        <div class="modal-header">
          <h4 id="projModalTitle" class="modal-title">Enter Project Name</h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
        
        <!-- Modal body -->
        <div class="modal-body">
            <form>
              <div class="form-group">
                <label for="projectName">Project Name:</label>
                <input type="text"  placeholder="Type project name" class="form-control square-border" id="projectName">
              </div>
              <div class="form-group">
                <input type="button" id="startProj-btn" class="btn btn-dark square-border" value="Create Project" data-dismiss="modal">
              </div>
           </form>
        </div>

        
        <!-- Modal footer -->
        <div class="modal-footer">
        </div>
        
      </div>
    </div>
  </div>