<div id="visualPanel" class="visual-panel-nav">
  <a href="#" id="stats-btn">Stats</a>
  <a href="#" id="graph-btn">Graph</a>
  <a href="#" id="log-btn">Logs</a>
</div>


<div id = "visDisplayPanel">
  <div class="container" >
  <!-- Nav tabs -->

 <!-- STATISTICS PANEL BEGINS HERE -->
      <div id="stats-panel" class="tab-pane fade show"><br>
        <table class="table table-dark">
          <thead>
            <tr>
              <th>Statistics</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <tr >
              <td id="stats-display-panel" >
                <canvas id="Chart1" height="300"></canvas>
              </td>
              <td id="stats-display-panel" >
                <canvas id="Chart2" height="300"></canvas>
              </td>              
            </tr>
            <tr>
              <td>
                <div>Project</div>
              </td>
              <td></td>
            </tr>
            <tr>
              <td colspan="2">Data still loading ...</td>

            </tr>
          </tbody>
        </table>
      </div>
      <!-- STATISTICS PANEL ENDS HERE -->

       <!-- GRAPH PANEL BEGINS HERE -->
      <div id="graph-panel" class="tab-pane fade show"><br>
    <!--  <h3>Graphs</h3> -->
        <table class="table table-dark">
          <thead>
            <tr>
              <th>Graph</th>
              <th></th>
            </tr>
          </thead>          
          <tbody>
            <tr >
              <td colspan="2" id="graph-display-panel" >
                <div id="mynetwork"> <img src="images/loader/ajax-loader3.gif"></div>
              </td>
            </tr>
            <tr>
              <td>
                <div>Project</div>
              </td>
              <td></td>
            </tr>
            <tr>
            <td colspan="2">Data still loading ...</td>

            </tr>
          </tbody>
        </table>
      </div>
      <!-- GRAPH PANEL ENDS HERE -->


    <!-- LOG FILE BELONGS HERE -->

     <div id="log-panel" class="tab-pane fade show"><br>
            <table id="logTable" class="table table-dark">
          <thead>
            <tr>
              <th>id</th>
              <th>Operation</th>
              <th>Description</th>
            </tr>
          </thead>          
          <tbody id="logFile">
            
          </tbody>
        </table>
      </div>

    </div>
  </div>
</div>



