<div class="w3-sidebar w3-bar-block w3-card w3-animate-right" style="display:none;right:0;" id="rightMenu">
  
  <a href="#" class="w3-bar-item w3-button">Statistics</a>
   <div>
   <table class="table table-dark table-hover lighten-up">
    <tbody>
      <tr>
        <td colspan="2"><h5>Assets Total</h5></td>
        <td id="asset-total-column"></td>
      </tr>
      <tr>
        <td colspan="3"><h5>Assets Working State</h5></td>
      </tr>
      <tr >
        <td id="asset-optimal-column-title">Optimal</td>
        <td id="asset-optimal-column"> </td>
         <td></td>
      </tr>
       <tr >
        <td id="asset-failed-column-title" >Failed</td>
        <td id="asset-failed-column"> </td>
        <td></td>

      </tr>
    </tbody>
  </table>
</div>
  <a href="#" class="w3-bar-item w3-button">Charts</a>
</div>
  <button id="close-results" class="w3-bar-item w3-button w3-large">Close &times;</button>
</div>