<!DOCTYPE html>
<html>
	<head><title>Critical Infrastructure Simulator</title>
	<!-- =============== Page Head content starts here ================= -->
						<% include partials/template/head.ejs %>
	<!-- =============== PageHeadcontent ends ===========================-->
	</head>
<body>
	<!-- =============== Navigition bar starts here ==================== -->
						<% include partials/template/navbar.ejs %>
	<!-- =============== Navbar ends ====================================-->

	<!-- =============== Result panel ==================== -->
						<% include partials/template/results-template.ejs %>
	<!-- =============== resultpanel ends ====================================-->			
	<!-- this is a pop up message for interaction -->
	<div class="container">
		<div id="animator"></div>
	</div>
	<!-- interactive popup ends here -->
	
	<div class="container-fluid" >
		<div class="row">

			<div id="mySidenav" class="sidenav control-panel-bg nice-fonting2" style="margin-top:50px">
		
	<!--=============== Side navigation Content starts here ============ -->
						<% include partials/content/sidenav.ejs %>
	<!--=============== Sidenav Ends =================================== -->
	<!--=============== asset Details starts here ============ -->
						<% include partials/template/asset-details.ejs %>
	<!--=============== Asset details Ends =================================== -->
	<!--=============== control panel Content starts here ============ -->
						<% include partials/template/control-panel.ejs %>
	<!--=============== ControlPanel Ends =================================== -->	

			</div>
	<!-- 	<h4>Map Section</h4> -->
			<div id="project-title"></div>
	
		
			<div id="map"></div>

		</div> <!-- row div closed here -->
	</div>
	<!--=============== Footer starts here ============================ -->
						<!-- <% include partials/template/footer.ejs %> -->
	<!--=============== Footer Ends =================================== -->
	<!--=============== Scriptpath starts here ======================== -->
						<% include partials/template/scriptpath.ejs %>
	<!--=============== Scriptpath Ends =================================== -->
	</body>
</html>